# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configuration file (created by VS Code)
.vscode/

# Python virtual environment
venv/
ENV/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

# Compiled Python files
*.pyc

# Environment configuration
.env

#zip files
*.zip